.pokemonCardEmpty {
    margin: 38px;
    border: 1px solid rgba(212, 199, 199, 0.4);
    border-radius: 8px;
    height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.errorMessage {
    opacity: 0.8;
    color: rgb(204, 204, 204);
    font-size: 3rem;
}

.errorMessage:hover {
   cursor: default;
}
